:root {
  --accent-color: #0099ff;
  --sub-color: #ebebeb;
  --project-color: white;
  --font-color: #252a34;
}

.hide {
  display: none;
}
html {
  background-color: var(--sub-color);
}
@media (max-width: 350px) {
  * {
    font-size: 1rem;
  }
}

h1 {
  font-size: 3em;
  font-weight: 800;
  line-height: 0.85;
}

h2 {
  font-size: 1.5em;
}

h3 {
  color: var(--accent-color);
}

h4,
.jumbo a {
  font-weight: 300;
}

#projects p {
  font-size: 0.7em;
}

.container {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
}

header {
  height: 80vh;
  background-color: var(--accent-color);
  background: url(/imgs/laptop.jpg) no-repeat;
  background-position: bottom;
  background-size: cover;
  z-index: 1;
}

.jumbo {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  place-content: end center;
  color: white;
  padding: 10px;
  overflow: hidden;
}

.jumbo a {
  width: 120px;
  text-align: center;
  padding: 2px 10px;
  border-radius: 5px;
  cursor: pointer;
  mix-blend-mode: screen;
  background-color: white;
  color: black;
  font-weight: 800;
}

@media (max-width: 500px) {
  header {
    height: 90vh;
  }
}

#projects {
  height: 100%;
  background-color: var(--project-color);
  padding: 1em 0.5em;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item {
  max-width: 40%;
  min-width: 470px;
  position: relative;
  background-color: lightGrey;
  overflow-y: hidden;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.336);
  border-radius: 10px;
  margin: 0 0.5em 1em 0.5em;
}

@media (max-width: 1100px) {
  .item {
    min-width: 330px;
  }
}

@media (max-width: 360px) {
  .item {
    min-width: 270px;
  }
}
.item h3 {
  margin: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.753);
  padding: 0.4rem;
  transform: translate3d(0, -100%, 0);
  transition: transform 300ms;
}
.item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.item a:hover ~ .item__overlay,
.item a:focus ~ .item__overlay {
  transform: translate3d(0, 0, 0);
}
.item a:hover ~ .item__overlay h3,
.item a:focus ~ .item__overlay h3 {
  transform: translate3d(0, 0, 0);
}
.item a:hover ~ .item__overlay .item__body,
.item a:focus ~ .item__overlay .item__body {
  opacity: 1;
}
.item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.item__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35%;
  position: absolute;
  width: 100%;
  top: 66%;
  transition: transform 300ms;
  background-color: rgba(255, 255, 255, 0.904);
  transform: translate3d(0, 100%, 0);
}

@media (max-width: 1100px) {
  .item__overlay {
    height: 60%;
    top: 40%;
  }
}
.item__body {
  flex-grow: 1;
  padding: 0.8rem;
  opacity: 0;
  transition: opacity 500ms 100ms;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.item__body p {
  margin: 0;
}

footer {
  background-color: var(--sub-color);
  padding: 20px;
}

footer a {
  color: var(--font-color);
}
footer img {
  border-radius: 5%;
  max-width: 130px;
}

footer .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info {
  padding: 20px;
}

.info a,
.info span {
  display: block;
  padding: 5px 0px;
  font-size: 0.7em;
}

/*  */
.ReactCollapse--collapse {
  transition: height 700ms;
}
