:root {
  --accent-color: #0099ff;
  --sub-color: #ebebeb;
  --project-color: white;
  --font-color: #252a34;
}

html {
  background-color: var(--sub-color);
}
@media (max-width: 350px) {
  * {
    font-size: 1rem;
  }
}

h1 {
  font-size: 3em;
  font-weight: 800;
  line-height: 0.85;
}

h2 {
  font-size: 1.5em;
}

h3 {
  color: var(--accent-color);
}

h4,
.jumbo a {
  font-weight: 300;
}

.subtext,
#projects a {
  font-size: 0.6em;
}

.container {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
}

header {
  height: 80vh;
  background-color: var(--accent-color);
  background: url(/imgs/laptop.jpg) no-repeat;
  background-position: bottom;
  background-size: cover;
}

.jumbo {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  place-content: end center;
  color: white;
  padding: 10px;
  overflow: hidden;
}

.jumbo a {
  width: 120px;
  text-align: center;
  padding: 2px 10px;
  border-radius: 5px;
  cursor: pointer;
  mix-blend-mode: screen;
  background-color: white;
  color: black;
  font-weight: 800;
}

@media (max-width: 500px) {
  .jumbo {
    align-items: flex-start;
  }
}

#projects {
  height: 100%;
  background-color: var(--project-color);
  padding: 1em 0.5em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards img {
  object-fit: contain;
}
.cards div {
  min-height: 268px;
  max-height: 400px;
  min-width: 1200px;
  margin: 2em 1em 0 1em;
}

.cards span {
  position: relative;
  left: 100px;
  top: 10px;
  background-color: grey;
  border-radius: 50%;
  opacity: 0.7;
  padding: 0.25em;
  width: 40px;
  margin: 0 0.2em;
  text-align: center;
  transition: 0.3s;
}

.cards span:hover {
  opacity: 1;
}

.cards a {
  color: white;
}
.project-link {
  float: right;
}
@media (max-width: 1350px) {
  /* .cards {
    display: block;
  } */

  .cards span {
    left: unset;
    top: unset;
    bottom: 50px;
    right: 7px;
  }

  .cards div {
    min-width: unset;
    max-height: unset;
    max-width: 300px;
  }
}

.cards img {
  float: right;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

footer {
  background-color: var(--sub-color);
  padding: 20px;
}

footer a {
  color: var(--font-color);
}
footer img {
  border-radius: 5%;
  max-width: 130px;
}

footer .container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.info {
  padding: 20px;
}

.info a,
.info span {
  display: block;
  padding: 5px 0px;
  font-size: 0.7em;
}

/*  */
.ReactCollapse--collapse {
  transition: height 500ms;
}
